<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>

<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div class="icon mini-icon"></div>
        <div class="title">View Options</div>             
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">General</div>
    <div class="palm-list">
        
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="navButton1" x-mojo-element="ListSelector"></div>                                                   
            </div>
        </div>

        <div class="palm-row last" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="navButton2" x-mojo-element="ListSelector"></div>                                                   
            </div>
        </div>
        
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title">Extended</div>
    <div class="palm-list">
        
        <div class="palm-row first" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="navButton3" x-mojo-element="ListSelector"></div>                                                   
            </div>
        </div>
        
        <div class="palm-row" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="navButton4" x-mojo-element="ListSelector"></div>                                                   
            </div>
        </div>

        <div class="palm-row last" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper">
                <div id="navButton5" x-mojo-element="ListSelector"></div>                                                   
            </div>
        </div>
        
    </div>
</div>

<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>
