<!-- 
Copyright 2011 Palm, Inc.
-->
<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="app-support-info-app-icon" class="app-support-info-icon"></div>                        
		<div class="title" x-mojo-loc=''>Help</div>      
	</div>
</div>

<div class="palm-text-wrapper">
	    <div class="title left" id="app-support-info-app-name"></div>                         
		<div class="palm-body-text" id="app-support-info-app-details"></div>
</div>

<div>
	<div id="app-support-info-help-list" x-mojo-element="List" >
	</div>
</div>

<div>
	<div id="app-support-info-support-list" x-mojo-element="List" >
	</div>
</div>

<div class="palm-text-wrapper">
	  <div class="palm-body-text" id="app-support-info-copyright"></div>
</div>
